@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient {
    /* Define tus colores directamente aquí */
    background-image: linear-gradient(to right, #0C7489,#119DA4 );
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
  }
  

  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 9;
    }
  }
  
  .animate-slide-up {
    animation: slideUp 0.5s ease-out forwards;
  }
  

  @keyframes jumpAnimation {
    0%, 100% {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
    50% {
      transform: translateY(-20px);
      animation-timing-function: ease-out;
    }
  }
  
  .jump-infinite {
    animation: jumpAnimation 8s infinite;
  }
  

  @keyframes slideAcross {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  .slide-across {
    animation: slideAcross 10s linear infinite;
  }
  